html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.floor {
    height: 100%;
}

.control-panel {
    height: 17%;
    background-color: crimson;
}

.showroom {
    min-height: 83%;
    background-color: aquamarine;
    margin: 0 5% 0 5%;
}

.detail {
    height: 82%;
    width: 80%;
    background-color: lemonchiffon;
}

.list {
    height: 100%;
    width: 20%;
    background-color: darkkhaki;
}

.command-panel {
    height: 100%;
    background-color: crimson;
}

.showroom header {
    height: 10%;
}

.showroom .feedback {
    height: 8%;
    background-color: darkorange;
}

body > div > footer {
    height: 17%;
    background-color: black;
    color: white;
}